<div id="<%= dom_id mining_type %>">
  <p>
    <strong>Description:</strong>
    <%= mining_type.description %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= mining_type.acronym %>
  </p>

</div>
