<p style="color: green"><%= notice %></p>

<%= render @mining_type %>

<div>
  <%= link_to t('links.edit'), edit_mining_type_path(@mining_type), class: 'btn btn-outline-primary' %>
  <%= link_to t('links.back'), mining_types_path, class: 'btn btn-outline-primary' %>

</div>
