<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to t('links.edit'), edit_coin_path(@coin), class: 'btn btn-outline-primary' %>
  <%= link_to t('links.back'), coins_path, class: 'btn btn-outline-primary' %>
</div>

<br>
